$color-soft-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);

$color-bg-main: hsl(217, 54%, 11%);
$color-bg-card: hsl(216, 50%, 16%);
$color-line: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);

$break-desktop: 1000px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Outfit, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-bg-main;
    display: flex;
}

a {
    all: unset;
    cursor: pointer;
}