.card {
    max-width: 320px;
    background-color: $color-bg-card;
    margin: auto;
    padding: 1.5rem;
    border-radius: 20px;

    &__img {
        width: 100%;
        border-radius: 10px;
    }

    &__title {
        font-size: 1.2rem;
        color: $color-white;
        margin-top: .8rem;
    }

    &__paragraph {
        font-size: .9rem;
        color: $color-soft-blue;
        font-weight: 300;
        margin: .8rem 0;
    }

    &__eth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
        
        
        & div:nth-child(1) {
            font-size: .9rem;
            color: $color-cyan;

            &::before {
                content: url('/frontend/assets/icon-ethereum.svg');
                margin-right: 6px;
            }
        }

        & div:nth-child(2) {
            color: $color-soft-blue;            
            font-size: .9rem;

            &::before {
                content: url('/frontend/assets/icon-clock.svg');
                margin-right: 6px;
            }
        }
    }

    &__divider {
        border: 1px solid $color-line;
        margin: 1rem 0;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 40px;
            border-radius: 50%;
            border: 1px solid $color-white;
        }

        p {
            margin-left: 1rem;
            color: $color-soft-blue;
            font-size: .9rem;

            span {
                color: $color-white;
                font-size: .9rem;
            }
        }
    }
}